<div>
  <h1>{{title}}</h1>
  <ul>
    {{#each cart.products}}
      <li>
        <h2>Producto: {{this.product.title}}</h2>
        <p>Precio: {{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
      </li>
    {{/each}}
  </ul>
</div>